<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="script.js"></script>
		<title>Truly Living Well</title>
	</head>
	<body>
		<table id="header" align="center">
			<tr>
				<td>
					<a href="index.html"><img id="logo" src="tlwlogo.png" /></a>
				</td>
				<td>
					<h1 class="title" id="title_tlw">Truly Living Well</h1>
					<h2 class="title" id="title_cnua">Center for Natural Urban Agriculture</h2>
				</td>
			</tr>
		</table>
		<div id="formdiv">
			<h3 align="center">Upload Market Sales Data</h3>
			<table id="uploadtable" align="center">
				<form action="" method="post" enctype="multipart/form-data">
					<tr>
						<td>Choose a File to Upload</td>
						<td><input type="file" name="marketdata" accept=".xls" /></td>
					</tr>
					<tr>
						<td>Upload File</td>
						<td><input type="submit" name="uploadbutton" value="Upload" /></td>
					</tr>
				</form>
			</table>
		</div>
		
	</body>
</html>
