{% extends "templates/base.html" %}
{% block content %}

{% set active_page = "index" %}

<div class="container">
    <div class="page-header text-center">
        <img id="logo" src="/static/tlwlogo.png" />
        <h1>Welcome to Truly Living Well!</h1>
    </div>
</div>

<div class="container">
	
    <dl class="text-center">
      <dt><h3>Volunteers</h3></dt>
      <dd> 
        <a href="/volunteer/signin" class="btn btn-success btn-lg">Volunteer Sign In</a>
        <a href="/volunteer/signout" class="btn btn-success btn-lg">Volunteer Sign Out</a>
        <a href="/volunteer/new" class="btn btn-primary btn-lg">New Volunteer</a>
        <br>
      </dd>
      <dt><h3>Visitors</h3></dt>
      <dd> 
      	<a href="/visitorsignin" class="btn btn-success btn-lg">Visitor Sign In</a>
        <a href="#" class="btn btn-success btn-lg">Camper Sign In</a>
        <br>
      </dd>
    </dl>

</div>

{% endblock %}
